@import "../../styles/colors";
@import "../../styles/mixins";
.main {
  background-color: $cream-color;
  padding: 10vh 0;

  h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5vh;
  }
}

.all-exp {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
